@inject HttpClient httpClient
<div class="container">
    <h3 class="text-center text-p">Login</h3>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Username:</label>
                <input class="form-control" type="text" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>Password:</label>
                <input class="form-control" type="password" />
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <button class="btn-p btn-lg" @onclick="Login">Login</button>
        </div>
    </div>

</div>


@code {
    public async void Login(){
        ChatUserDTO user = await httpClient.GetFromJsonAsync<ChatUserDTO>("https://localhost:8001/api/ChatUser/1");
        Console.WriteLine(user);
    }
}
