
@page "/login"

@using BlazorChatApp.Client.Components.Login
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks

@inject HttpClient http

<div class="container-fluid bg-dark min-vh-100 d-flex justify-content-center">
    <div class="w-50 my-5 text-s">
        <h1 class="display-3">Join The Hottest Chat App Worldwide</h1>
        @*<h1>@messageFromServer</h1>*@
        <img class="my-5" src="/images/blazor-chat-flame-animation.gif" width="200" height="200" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi metus ligula, ullamcorper sed ex vitae, elementum convallis justo. Pellentesque habitant morbi tristique senectus et
            netus et malesuada fames ac turpis egestas. Aliquam sollicitudin nisl turpis, a tristique turpis egestas in. Phasellus pellentesque leo ligula, sed fringilla erat tempor ac. Integer risus
            eros, malesuada non magna eu, eleifend mattis justo.
        </p>

    </div>
    <div class="container bg-light m-5 p-5 rounded">
        <ul class="nav nav-tabs">
            <li class="nav-item bg-p">
                <button class="nav-link btn-p @(loginIsActive ? "active" : "")" @onclick="ToggleForm">Login</button>
            </li>
            <li class="nav-item bg-p">
                <button class="nav-link btn-p @(loginIsActive ? "" : "active")" @onclick="ToggleForm">Create an Account</button>
            </li>
        </ul>
        <div class="container h-75 d-flex justify-content-center rounded border-p">
            <div class="w-75 align-self-center">
                @if (loginIsActive)
                {
                    <LoginForm />
                }
                else
                {
                    <CreateAccountForm />
                }
            </div>

        </div>


    </div>
</div>


@code {


    private bool loginIsActive = true;
    //private string messageFromServer = "";

    //protected override async Task OnInitializedAsync()
    //{
    //    messageFromServer = await http.GetStringAsync("https://localhost:8001/api/login");
    //}

    private void ToggleForm()
    {
        loginIsActive = !loginIsActive;
    }


}
