
<div class="container py-3 rounded border-p">
    <div class="row">
        <div class="col-9">
            <h5>@RoomName</h5>
            <span>Is Private</span>
            <input class="custom-checkbox" type="checkbox" checked="@IsPrivate"/>
        </div>
        <div class="col-3">
            <h3>0/@RoomSize</h3>
            <NavLink href="/chatroom" class="btn btn-s">Join Room</NavLink>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string RoomName { get; set; }
    [Parameter]
    public int RoomSize { get; set; }
    [Parameter]
    public bool IsPrivate { get; set; }
    
}
